@import "tailwindcss";
@plugin "daisyui";

/* #7a56df */

/* @theme {
  --color-primary-50: #f8f8fb;
  --color-primary-75: #f0edf7;
  --color-primary-100: #D7CAF0;
  --color-primary-200: #ededfb;
  --color-primary-300: #9D4EDD;
  --color-primary-400: #5533AC
  --color-primary-500: #3d2380;
  --color-primary-600: #3C096C;
  --color-primary-700: #240046;
  --color-primary-800: #10002B;

  --font-sans: "Geist", cursive;
  --font-mono: "Geist Mono", ui-monospace, monospace;
} */
 @theme {
  --color-primary-50:  #f5f8ff;
  --color-primary-75:  #eef3ff;
  --color-primary-100: #dbe7ff;
  --color-primary-200: #b6ccff;
  --color-primary-300: #7fa8ff;
  --color-primary-400: #102d81;
  --color-primary-500: #0b155a;
  --color-primary-600: #09124e;
  --color-primary-700: #070f42;
  --color-primary-800: #050c36;
  --color-primary-900: #03082a;

  --color-primary-selected: #7fa8ff;

  --font-sans: "Geist", cursive;
  --font-mono: "Geist Mono", ui-monospace, monospace;
}

body{
  font-family: var(--font-sans);
}

html, body {
  height: 100%;
}

.ag-center-header .ag-header-cell-label {
  justify-content: center;
}
.ag-left-header .ag-header-cell-label {
  justify-content: flex-start;
}
.ag-right-header .ag-header-cell-label {
  justify-content: flex-end;
}

/* Container principal dos chips */
.p-multiselect .p-multiselect-label {
  display: flex !important;
  flex-wrap: wrap !important;
  gap: 6px;
  min-height: auto !important;
}

/* Força quebra do texto dentro do chip */
.p-chip .p-chip-label {
  white-space: normal !important;
  word-break: break-word !important;
  overflow-wrap: anywhere !important;
  min-width: 0 !important;
  line-height: 1.3 !important;
}

/* Mantém o X visível */
.p-chip {
  height: auto !important;
  display: flex !important;
  align-items: center !important;
  flex-wrap: wrap !important;
}

/* Define altura máxima para a lista de opções */
.p-multiselect-panel .p-multiselect-items-wrapper {
  max-height: 250px !important; /* altura do scroll */
  overflow-y: auto !important;
}

/* Opcional: melhora aparência do scroll */
.p-multiselect-panel .p-multiselect-items-wrapper::-webkit-scrollbar {
  width: 6px;
}

.p-multiselect-panel .p-multiselect-items-wrapper::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 4px;
}
