
<div>
  <div class="p-4 rounded-[10px] shadow-container bg-white text-black flex flex-col">
    <div>
      <button
        class="mt-4 px-4 py-2 rounded flex gap-1 hover:underline"
        (click)="goBack()"
        title="Voltar">
        <i-lucide [img]="CircleArrowLeft" class="size-6 text-gray-600 group-hover:text-white group-[.active]:text-white"></i-lucide>
        Voltar
      </button>
    </div>
    <form [formGroup]="processForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">
        <div class="p-10 flex flex-col gap-5">
          <h1 class="text-3xl font-bold mb-2.5"> @if(!isEdit) { Novo Processo } @else { Editar Processo }</h1>

          <div class="flex gap-10">
            <div class="flex flex-col gap-1">
              <span class="font-medium">Nº Processo</span>
                <p-inputmask mask="9999999-99.9999.9.99.9999" formControlName="numeroProcesso" placeholder="9999999-99.9999.9.99.9999" [invalid]="isInvalid('numeroProcesso')" fluid />
                @if (isInvalid('numeroProcesso')) {
                  <p-message severity="error" size="small" variant="simple">O Número do Processo é obrigatório</p-message>
                }
            </div>
            <div class="flex flex-col gap-1">
              <span class="font-medium">Data de Abertura</span>
                <p-datepicker [iconDisplay]="'input'" placeholder="dd/mm/yyyy" inputId="icondisplay" formControlName="dataAbertura" [invalid]="isInvalid('dataAbertura')"/>
                @if (isInvalid('dataAbertura')) {
                  <p-message severity="error" size="small" variant="simple">A Data de Abertura é obrigatória</p-message>
                }
            </div>
          </div>
          @if(!isEdit){
            <div class="flex gap-10">
              <div class="flex flex-col gap-1">
                <span class="font-medium">Reclamante</span>
                <app-select-entity-component
                #selectEntity
                formControlName="reclamante"
                [placeholder]="'Selecione um reclamente'"
                [multiple]="false"
                ></app-select-entity-component>

              </div>
              <div class="flex items-end gap-1">
                <button pButton severity="secondary" (click)="launchSelectedClient()" type="button" class="flex items-center gap-1 mt-4 px-4 py-2 bg-primary-600 text-white rounded">
                  <lucide-icon name="arrow-down" class="size-4 text-gray-300 group-hover:text-white group-[.active]:text-white"></lucide-icon>
                  <span pButtonLabel>Lançar</span>
                </button>
              </div>

            </div>
          }

          <div class="flex gap-10">
            <div style="height: 600px; width: 100%">
              <app-entity-table
                [rowData$]="entitiesTable$"
                [customColDefs]="getProcessColDefs()"
                [enableNavigation]="false"
                >
              </app-entity-table>
            </div>

          </div>
          <div class="flex gap-10">

            <div class="flex flex-col gap-1">
              <span class="font-medium">Reclamado</span>
                <input pInputText formControlName="reclamado" placeholder="Digite o nome do Reclamado" [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('reclamado') }" class="w-full" />
                @if (isInvalid('reclamado')) {
                  <p-message severity="error" size="small" variant="simple">O Reclamado é obrigatório</p-message>
                }
            </div>


            <div class="flex flex-col gap-1">
              <span class="font-medium">Natureza da Ação</span>
                <p-select [options]="natures" optionLabel="text" optionValue="id" formControlName="naturezaAcao" placeholder="Selecione uma natureza" [invalid]="isInvalid('naturezaAcao')" class="w-full md:w-60" />
                @if (isInvalid('naturezaAcao')) {
                  <p-message severity="error" size="small" variant="simple">A Natureza da Ação é obrigatória</p-message>
                }
            </div>
            <div class="flex flex-col gap-1">
              <span class="font-medium">Ação Judicial</span>
                <p-select [options]="actions" optionLabel="text" optionValue="id" formControlName="acaoJudicial" placeholder="Selecione uma ação judicial" [invalid]="isInvalid('acaoJudicial')" class="w-full md:w-60" />
                @if (isInvalid('acaoJudicial')) {
                  <p-message severity="error" size="small" variant="simple">A Ação Judicial é obrigatória</p-message>
                }
            </div>
          </div>
          <div class="flex gap-10">
            <div class="flex flex-col gap-1 w-full">
              <span class="font-medium">Observações</span>
                 <textarea rows="5" cols="30" pTextarea formControlName="observacoes"></textarea>
            </div>
          </div>

          <div>
            <button pButton severity="secondary" type="submit" class="flex items-center gap-1 mt-4 px-4 py-2 bg-primary-600 text-white rounded">
              <i-lucide [img]="Save" class="size-4 text-gray-300 group-hover:text-white group-[.active]:text-white"></i-lucide>
              <span pButtonLabel>Salvar</span>
            </button>


            @if(isEdit){
              <button
                pButton
                severity="secondary"
                type="button"
                class="group flex items-center gap-1 px-4 py-2 bg-gray-500 text-white hover:text-red-600 hover:bg-red-200
                transition duration-300 ease-in-out rounded"
                (click)="deleteProcess()">
                <lucide-icon name="trash" class="size-4 text-white group-hover:text-red-600"></lucide-icon>
                  <span class="group-hover:text-red-600" pButtonLabel>Excluir</span>
              </button>
            }


          </div>
        </div>

    </form>

  </div>
</div>

