<div class="flex flex-wrap gap-4">
  <div class="w-full">
    <p class="text-2xl font-medium flex items-center gap-1">Filtros<i-lucide [img]="Funnel" size="18"></i-lucide>
    </p>
  </div>


      <form [formGroup]="filterForm" class="flex flex-wrap gap-4">

      <app-select-entity-component
        formControlName="reclamante">
      </app-select-entity-component>

      <p-floatlabel variant="on">
        <p-select
          [options]="statusEntity"
          optionLabel="name"
          formControlName="status"
          placeholder="Selecione um Status"
          class="w-full md:w-56">
        </p-select>
        <label>Status</label>
      </p-floatlabel>

      <p-floatlabel variant="on">
        <p-inputmask
          mask="999.999.999-99"
          formControlName="cpf_cnpj"
          placeholder="000.000.000-00"
          class="w-full md:w-56"/>
        <label>CPF/CNPJ</label>
      </p-floatlabel>



      <button class="bg-primary-200 w-[40px] text-primary-600 rounded-[6px]" title="Pesquisar" (click)="applyFilter()">
        <i-lucide [img]="Search" size="16" class="flex justify-center"></i-lucide>
      </button>

      <button class="bg-primary-200 w-[40px] text-primary-600 rounded-[6px]" title="Limpar Filtros">
        <i-lucide [img]="Eraser" size="16" class="flex justify-center"></i-lucide>
      </button>

      <app-new-client-button-component></app-new-client-button-component>


    </form>


</div>
