<div class="flex flex-wrap gap-4 ">
  <div class="w-full">
    <p class="text-2xl font-medium flex items-center gap-1">Filtros<lucide-icon name="funnel" class="size-[18px]"></lucide-icon>
    </p>
  </div>
  <form [formGroup]="filterSettlementForm">
      <div class="flex gap-4">
      <!-- NNNNNNN-DD.AAAA.J.TR.OOOO -->
        <p-floatlabel variant="on">
          <p-inputmask id="input_process" mask="9999999-99.9999.9.99.9999" formControlName="processNumber"/>
          <label for="input_process">Nº Processo</label>
        </p-floatlabel>

        <p-floatlabel variant="on">
          <p-select formControlName="status" [options]="statusPayment" id="select_status" [(ngModel)]="statusPayment" optionLabel="name" placeholder="Selecione um Status" class="w-full md:w-56"/>
          <label for="select_status">Status</label>
        </p-floatlabel>

        <button class="bg-primary-200 w-[40px] text-primary-600 rounded-[6px] flex justify-center items-center" title="Pesquisar" (click)="applyFilter()">
          <lucide-icon name="search" class="size-4"></lucide-icon>

        </button>
        <button class="bg-primary-200 w-[40px] text-primary-600 rounded-[6px] flex justify-center items-center" title="Limpar Filtros" (click)="resetFilter()">
          <lucide-icon name="eraser" class="size-4"></lucide-icon>

        </button>

      </div>
  </form>
</div>
