<div class="flex flex-wrap gap-4 ">
  <div class="w-full">
    <p class="text-2xl font-medium flex items-center gap-1">Filtros<i-lucide [img]="Funnel" size="18"></i-lucide>
    </p>
  </div>
  <form [formGroup]="filterProcessForm">
    <div class="flex gap-4">
      <!-- NNNNNNN-DD.AAAA.J.TR.OOOO -->
        <p-floatlabel variant="on">
          <p-inputmask id="input_process" mask="9999999-99.9999.9.99.9999" formControlName="processNumber"/>
          <label for="input_process">Nº Processo</label>
        </p-floatlabel>
        <app-select-entity-component class="w-48"></app-select-entity-component>
        <p-floatlabel variant="on">
          <p-select formControlName="status" [options]="status" id="select_status" [(ngModel)]="statusSelected" optionLabel="name" placeholder="Selecione um Status" class="w-full md:w-56"/>
          <label for="select_status">Status</label>
        </p-floatlabel>
        <p-floatlabel variant="on">
          <p-datepicker  formControlName="initialDate" id="datepicker_date_open" inputId="on_label" showIcon iconDisplay="input" dateFormat="dd/mm/yy"/>
          <label for="datepicker_date_open">Data de Abertura</label>
        </p-floatlabel>
        <button class="bg-primary-200 w-[40px] text-primary-600 rounded-[6px]" title="Pesquisar" (click)="applyFilter()">
          <i-lucide [img]="Search" size="16" class="flex justify-center"></i-lucide>
        </button>
        <button class="bg-primary-200 w-[40px] text-primary-600 rounded-[6px]" title="Limpar Filtros">
          <i-lucide [img]="Eraser" size="16" class="flex justify-center"></i-lucide>
        </button>

      </div>
    </form>
</div>
