<div>
  <div class="p-4 rounded-[10px] shadow-container bg-white text-black flex flex-col">

    <!-- Voltar -->
    <div>
      <button
        class="mt-4 px-4 py-2 rounded flex gap-1 hover:underline"
        (click)="goBack()">

        <lucide-icon name="circle-arrow-left" class="size-6 text-gray-600"></lucide-icon>
        Voltar
      </button>
    </div>

    <form [formGroup]="companyForm" (ngSubmit)="onSubmit()" class="flex flex-col items-center gap-4 w-full">

      <h1 class="text-3xl font-bold mb-2.5">
        @if(!isEdit) { Novo Cliente - Pessoa Jurídica } @else { Editar Cliente - Pessoa Jurídica }
      </h1>

      <div class="p-10 flex flex-col gap-5">

        <!-- CNPJ + Razão Social + Nome Fantasia -->
        <div class="flex gap-10">

          <div class="flex flex-col gap-1">
            <span class="font-medium">CNPJ</span>
            <p-inputmask
              mask="99.999.999/9999-99"
              formControlName="cnpj"
              placeholder="00.000.000/0000-00"
              [invalid]="isInvalid('cnpj')"
              fluid />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Razão Social</span>
            <input pInputText formControlName="corporateName" />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Nome Fantasia</span>
            <input pInputText formControlName="tradeName" />
          </div>

        </div>

        <!-- Email + Telefones -->
        <div class="flex gap-10">

          <div class="flex flex-col gap-1">
            <span class="font-medium">Email</span>
            <input pInputText type="email" formControlName="corporateEmail" />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Celular</span>
            <p-inputmask
              mask="(99) 99999-9999"
              formControlName="corporateMobile"
              fluid />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Telefone</span>
            <p-inputmask
              mask="(99) 9999-9999"
              formControlName="corporatePhone"
              fluid />
          </div>

        </div>

        <!-- Endereço -->
        <div class="flex gap-10">
          <div class="flex flex-col gap-1">
            <span class="font-medium">CEP</span>
            <p-inputmask mask="99999-999" formControlName="cep" fluid />
          </div>

          <div class="flex flex-col gap-1 flex-1">
            <span class="font-medium">Endereço</span>
            <input pInputText formControlName="address" class="w-full" />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Número</span>
            <input pInputText formControlName="houseNumber" />
          </div>
        </div>

        <!-- Complemento -->
        <div class="flex flex-col gap-1">
          <span class="font-medium">Complemento</span>
          <input pInputText formControlName="complement" />
        </div>

        <!-- Cidade / Bairro / UF -->
        <div class="flex gap-10">

          <div class="flex flex-col gap-1">
            <span class="font-medium">Cidade</span>
            <input pInputText formControlName="city" />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Bairro</span>
            <input pInputText formControlName="district" />
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">UF</span>
            <input
              pInputText
              formControlName="uf"
              maxlength="2"
              (input)="onUfInput($event)" />
          </div>

        </div>

      </div>

      <!-- Botões -->
      <div class="px-10 w-[inherit] flex gap-3">

        <button
          pButton
          type="submit"
          class="flex items-center gap-1 px-4 py-2 bg-primary-600 text-white rounded">
          <lucide-icon name="save" class="size-4"></lucide-icon>
          <span>Salvar</span>
        </button>

        <button
          pButton
          type="button"
          class="group flex items-center gap-1 px-4 py-2 bg-gray-500 text-white
                 hover:text-red-600 hover:bg-red-200 transition duration-300 rounded"
          (click)="deleteCompany()">

          <lucide-icon name="trash" class="size-4 group-hover:text-red-600"></lucide-icon>
          <span class="group-hover:text-red-600">Excluir</span>
        </button>

      </div>

    </form>
  </div>
</div>
