<h1 class="text-3xl font-bold mb-2.5">Clientes</h1>
<div class="h-[650px] w-full">
  <div class="p-4 rounded-[10px] shadow-container h-full bg-white text-black flex flex-col gap-6">
    <div class="flex justify-between items-end">
      <app-filter-entity-component (filterValues)="onFilter($event)"></app-filter-entity-component>
      <app-new-client-button-component></app-new-client-button-component>
    </div>
    <app-entity-table
    [rowData$]="entities$"
    >
  </app-entity-table>

  </div>

</div>


