<h1 class="text-3xl font-bold mb-2.5">Acordos Judiciais</h1>

<div class="h-[800px] w-full">
  <div class="p-4 h-full rounded-[10px] shadow-container bg-white text-black flex flex-col gap-6">

   <div class="flex justify-between items-end">
      <app-filter-settlement></app-filter-settlement>

      <app-button-new-register-component
          route="financeiro/acordos/novo"
          title="Cadastrar Acordo"
          icon="plus"
        ></app-button-new-register-component>
    </div>

    <app-settlement-table
      [rowData$]="settlements$"
    ></app-settlement-table>

  </div>
</div>
