
<div>
  <div class="p-4 rounded-[10px] shadow-container bg-white text-black flex flex-col">

    <div>
      <button
        class="mt-4 px-4 py-2 rounded flex gap-1 hover:underline"
        (click)="goBack()"
        title="Voltar">

        <lucide-icon name="circle-arrow-left" class="size-6 text-gray-600"></lucide-icon>

        Voltar
      </button>
    </div>

    <form [formGroup]="clientForm" (ngSubmit)="onSubmit()" class="flex flex-col gap-4 w-full">

      <div class="p-10 flex flex-col gap-5">
        <h1 class="text-3xl font-bold mb-2.5">@if(!isEdit) { Novo Cliente - Pessoa Física } @else { Editar Cliente - Pessoa Física }</h1>

        <!-- Nome -->
        <div class="flex flex-col gap-1">
          <span class="font-medium">Nome</span>

          <input
            pInputText
            formControlName="name"
            placeholder="Digite o nome"
            [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('name') }"/>

          @if (isInvalid('name')) {
            <p-message severity="error" size="small" variant="simple">
              O Nome é obrigatório
            </p-message>
          }
        </div>


        <!-- CPF / RG -->
        <div class="flex gap-10">

          <div class="flex flex-col gap-1">
            <span class="font-medium">CPF</span>

            <p-inputmask
              mask="999.999.999-99"
              formControlName="cpf"
              placeholder="000.000.000-00"
              [invalid]="isInvalid('cpf')"
              fluid />

            @if (isInvalid('cpf')) {
              <p-message severity="error" size="small" variant="simple">
                O CPF é obrigatório
              </p-message>
            }
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">RG</span>
            <input
              pInputText
              formControlName="rg"
              placeholder="00.000.000-00"
              max = 9
              [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('rg') }"/>

            @if (isInvalid('rg')) {
              <p-message severity="error" size="small" variant="simple">
                RG deve conter no máximo 9 caracteres
              </p-message>
            }
          </div>

          <!-- Email -->
          <div class="flex flex-col gap-1">
            <span class="font-medium">Email</span>

            <input
              pInputText
              formControlName="email"
              type="email"
              placeholder="Digite o email"
              [ngClass]="{ 'ng-invalid ng-dirty': isInvalid('email') }"/>

            @if (isInvalid('email')) {
              <p-message severity="error" size="small" variant="simple">
                O Email é obrigatório
              </p-message>
            }
          </div>
        </div>




        <!-- Celular / Telefone -->
        <div class="flex gap-10">

          <div class="flex flex-col gap-1">
            <span class="font-medium">Celular</span>

            <p-inputmask
              mask="(99) 99999-9999"
              formControlName="mobile"
              placeholder="(00) 00000-0000"
              [invalid]="isInvalid('mobile')"
              fluid />

            @if (isInvalid('mobile')) {
              <p-message severity="error" size="small" variant="simple">
                O Celular é obrigatório
              </p-message>
            }
          </div>

          <div class="flex flex-col gap-1">
            <span class="font-medium">Telefone</span>

            <p-inputmask
              mask="(99) 9999-9999"
              formControlName="phone"
              placeholder="(00) 0000-0000"
              fluid />
          </div>

          <!-- Data de Nascimento -->
          <div class="flex flex-col gap-1">
            <span class="font-medium">Data de Nascimento</span>

            <p-datepicker
              [iconDisplay]="'input'"
              placeholder="dd/mm/yyyy"
              formControlName="birthDate"
              [invalid]="isInvalid('birthDate')" />

            @if (isInvalid('birthDate')) {
              <p-message severity="error" size="small" variant="simple">
                A Data de Nascimento é obrigatória
              </p-message>
            }
          </div>
        </div>
            <!-- CEP -->
        <div class="flex gap-10">
          <div class="col-span-3 flex flex-col gap-1">
            <span class="font-medium">CEP</span>
            <p-inputmask
              mask="99999-999"
              formControlName="cep"
              placeholder="00000-000"
              fluid />
          </div>
          <!-- Endereço -->
          <div class="col-span-6 flex flex-col gap-1">
            <span class="font-medium">Endereço</span>
            <input
              pInputText
              formControlName="address"
              placeholder="Digite o endereço"
              class="w-full"/>
          </div>
          <!-- Número -->
          <div class="col-span-3 flex flex-col gap-1">
            <span class="font-medium">Nº Residência</span>
            <input
              pInputText
              formControlName="houseNumber"
              placeholder="Número"/>
          </div>
        </div>


        <!-- Linha 2 -->
        <div class="flex flex-col gap-1">
          <span class="font-medium">Complemento</span>

          <input
            pInputText
            formControlName="complement"
            placeholder="Apartamento, bloco, etc."
            class="w-full"/>
        </div>


          <!-- Cidade -->
        <div class="flex gap-10">
          <div class="col-span-5 flex flex-col gap-1">
            <span class="font-medium">Cidade</span>
            <input
              pInputText
              formControlName="city"
              placeholder="Digite a cidade"/>
          </div>
          <!-- Bairro -->
          <div class="col-span-5 flex flex-col gap-1">
            <span class="font-medium">Bairro</span>
            <input
              pInputText
              formControlName="district"
              placeholder="Digite o bairro"/>
          </div>
          <!-- UF -->
          <div class="col-span-2 flex flex-col gap-1">
            <span class="font-medium">UF</span>
            <input
              pInputText
              formControlName="uf"
              maxlength="2"
              placeholder="UF"
              (input)="onUfInput($event)"/>
          </div>
        </div>

      </div>


      <!-- Botão -->
      <div class="px-10 w-[inherit] flex gap-3">
        <button
          pButton
          severity="secondary"
          type="submit"
          class="flex items-center gap-1 px-4 py-2 bg-primary-600 text-white rounded"
          >
          <lucide-icon name="save"  class="size-4 text-gray-300"></lucide-icon>

          <span pButtonLabel>Salvar</span>
        </button>
        <button
          pButton
          severity="secondary"
          type="button"
          class="group flex items-center gap-1 px-4 py-2 bg-gray-500 text-white hover:text-red-600 hover:bg-red-200
          transition duration-300 ease-in-out rounded"
          (click)="deleteClient()">
          <lucide-icon name="trash"  class="size-4 text-white group-hover:text-red-600"></lucide-icon>

          <span class="group-hover:text-red-600" pButtonLabel>Excluir</span>
        </button>
      </div>

    </form>

  </div>
</div>
