<div class="card flex justify-center">
    <p-dialog header="Detalhes do Processo"
    [modal]="true" [visible]="(visible$ | async) ?? true" (onHide)="close()" [style]="{ width: '50rem' }"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }">
        <ng-container *ngIf="process$ | async as process">
          <div class="flex flex-col gap-2.5">
            <p><strong>Status: </strong>
              <span class="badge badge-soft badge-primary">{{ process.isArchived }}</span>
            </p>
            <p><strong>Nº Processo:</strong> {{ process.processNumber }}</p>
            <p><strong>Requerente(s):</strong>
              <span>
                 <ng-container *ngFor="let entity of process.entities; let last = last">
                   {{ entity.name || entity.corporateName }}<span *ngIf="!last">, </span>
                 </ng-container>
               </span>
            </p>
            <p><strong>Respondente:</strong> {{ process.respondent }}</p>
            <p><strong>Data de Abertura:</strong> {{ process.initialDate }}</p>
            <p><strong>Natureza:</strong> {{ process.natureAction.text }}</p>
            <p><strong>Ação:</strong> {{ process.judicialAction.text }}</p>
            <p><strong>Observações:</strong> {{ process.description }}</p>
          </div>

        </ng-container>
    </p-dialog>
</div>

